.wrapper{
    margin: 5px;
    background-color: tan;
}

.wrapper2{
    margin: 5px;
    background-image: url("../Assets/background.jpg");
}

img{
    width: 200px;
    height: 250px;
}

p{
    font-family: sans-serif;
    font-size: 20px;
}

#firstid{
    border-style: solid;
    border-color: rgb(6, 7, 8);
}

#secondid{
    border-style: dotted;
    border-color: mediumblue;
}

#thirdid{
    border-style: groove;
    border-color: mediumvioletred;
}